.task-form{
  background: #dddddd;
  border: #b2b2a2;
  min-height: 50px;
  text-align: left;
}
  .big-green-plus{
    background: url(/assets/big_green_plus.png);
    margin: 13px 0px 0px 13px;
    height: 24px;
    width: 24px;
    float: left;
  }
  input.input-task{
    font-size: 18px;
    margin: 7px 0px 0px 13px;
    width: 700px;
    height: 22px;
    float: left;
  }
  .create-task{
    background: url(/assets/button_create_task.png);
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #447557;
    padding-top: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    height: 23px;
    width: 165px;
    margin: 8px 0px 0px 0px;
    float: left;
  }
  .create-task:hover{
    font-size: 20px;
  }