h1{
  @include adjust-font-size-to(28px);
  @include padding-trailer();
}

h2{
  @include padding-leader();
  @include adjust-font-size-to(26px);
}

.footer{
  text-align: center;
  .button-create-project{
    display: inline-block;
    background: url(/assets/background-project.png);
    color: #ffffff;
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #315589;
    border-radius: 2px;
    min-width: 280px;
  }
}
