h1{
  font-size: 1.9em;
}

h2{
  font-size: 1.6em;
}

.footer{
  .button-create-project{
    background: url(/assets/background-project.png);
    color: #ffffff;
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #315589;
    border-radius: 2px;
  }
}
