nav{
  background: #dddddd;
  width: 100%;
  @include trailing-border();
  @include padding-trailer(0);
  @include opacity(0.5);

}
  .menu-line, .auth-line{
    @include opaque();
    @include outerRow;
    @include padding-leader(1, 50px);
    @include padding-trailer(1, 50px);
    @include adjust-font-size-to(20px);
    text-align: right;
    .email{
      @include inline-block;
      @include adjust-font-size-to(12px);
    }
    .password{
      @include inline-block;
      @include adjust-font-size-to(12px);
    }
    .password-confirmation{
      @include inline-block;
      @include adjust-font-size-to(12px);
    }
    button{
      @include inline-block;
      @include adjust-font-size-to(8px);
    }
  }