.project-head{
  margin-top: 20px;
  background: url(/assets/background-project.png);
  border: 1px solid #315589;
  border-radius: 2px;
  height: 50px;
}
  .calendar{
    background: url(/assets/calendar.png);
    margin: 13px 0px 0px 13px;
    width: 24px;
    height: 24px;
    float: left;
  }
  .project-name{
    text-align: left;
    margin: 15px 0px 0px 15px;
    width: 800px; 
    font-size: 22px;
    color: #ffffff;
    float: left;
  }
  input.input-name{
    text-align: left;
    margin: 8px 10px 0px 15px;
    width: 785px; 
    font-size: 20px;
    color: #999999;
    float: left;
  }
  .options{
    margin: 15px 0px 0px 15px;
  }
    .pencil-head{
      background: url(/assets/pencil.png);
      width: 16px;
      height: 16px;
      float: left;
    }
    .vertical-line{
      background: url(/assets/vertical_line.png);
      margin: 0px 10px 0px 10px;
      height: 16px;
      width: 1px;
      float: left;
    }
    .trash-head{
      background: url(/assets/trash.png);
      width: 16px;
      height: 16px;
      float: left;
    }

