.auth-line
  %input.email{:placeholder => "email"}
  %input.password{:placeholder => "password"}
  %input.password-confirmation{:placeholder => "password confirmation"}
  %button.sing-up SING UP
  %button.sing-in SING IN