<h1>Edit registration</h1>

<form id="edit-registration" name="registration">
  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="password"> password:</label>
    <input type="text" name="password" id="password" value="<%= password %>" >
  </div>

  <div class="field">
    <label for="password_confirmation"> password_confirmation:</label>
    <input type="text" name="password_confirmation" id="password_confirmation" value="<%= password_confirmation %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Registration" />
  </div>

</form>

<a href="#/index">Back</a>
