<h1>Listing registrations</h1>

<table id="registrations-table">
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Password confirmation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Registration</a>